<% include ../partials/header %>
<% include ../partials/navbar %>

        <center>
            <h1 style="margin-top: 10px;">Customer Dashboard</h1>
        </center>
        <center>
            <div>
                <button type="button" class="btn btn-primary" onclick="customerPendingPayments()">Pending</button>
                <button type="button" class="btn btn-warning" onclick="customerPaidHistory()">Paid History</button>
            </div>
        </center>

        <div style="margin: 40px;" class="container">
            <div class="row" id="customer_main">
                <div class="col-3">
                </div>
            </div>
        </div>


        <div id="details" style="margin-top: 30px; padding: 50px;">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Customer Id</th>
                    <td><%= customer['_id'] %> %></td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td><%= customer.email %></td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td><%= customer.name %></td>
                  </tr>
                  <tr>
                    <th scope="row">Phone Number</th>
                    <td><%= customer.phoneNumber %></td>
                  </tr>
                </tbody>
              </table>
        </div>

        <script>
            let token = '<%- JSON.stringify(token) %>';
            console.log('Token ', token)
    
            // set token to local storage
            localStorage.setItem('token', token)
        </script>

<% include ../partials/footer %>